<!--COMPONENT INICIAL/PRINCIPAL-->
<h1>{{title}}</h1> <!-- No angular, todas as vezes que for pedir para exibir uma variável, definida no components, deve-se colocar {{}} duplas, ou seja, significa que posso usar informações existentes no meu component. -->

<app-heroes><!-- adicionando o app-heroes, criado no heroes.component, para ser exibido no app.component (component inicial). Logo, o h2 que foi digitado no heroes.component.html, será exibido nesta página do HTML. Ou seja, declaramos o component para ser exibido na página inicial. -->
</app-heroes>
